/Info.Command.Service/bin
/Info.Command.Service/obj
/Info.Command.Service/Info.CommandService.csproj.user
/Info.Command.Service/*.sln
/Info.Command.Service/.vs*


/Info.Platform.Service/bin
/Info.Platform.Service/obj
/Info.Platform.Service/Info.PlatformService.csproj.user
/Info.Platform.Service/*.sln
/Info.Platform.Service/.vs*


/Info.Company.Service/bin
/Info.Company.Service/obj
/Info.Company.Service/Info.CompanyService.csproj.user
/Info.Company.Service/*.sln
/Info.Company.Service/.vs*

/Info.Common/bin
/Info.Common/obj
/Info.Common/Info.Common.csproj.user
/Info.Common/*.sln
/Info.Common/.vs*


/Info.Company.Contracts/bin
/Info.Company.Contracts/obj
/Info.Company.Contracts/Info.CompanyContracts.csproj.user
/Info.Company.Contracts/*.sln
/Info.Company.Contracts/.vs*

/Info.Platform.Contracts/bin
/Info.Platform.Contracts/obj
/Info.Platform.Contracts/Info.PlatformContracts.csproj.user
/Info.Platform.Contracts/*.sln
/Info.Platform.Contracts/.vs*


/.vscode
/.vs
/.idea
