/CommandService/bin
/CommandService/obj
/CommandService/CommandService.csproj.user
/PlatformService/bin
/PlatformService/obj
/PlatformService/PlatformService.csproj.user
/CompanyService/bin
/CompanyService/obj
/CompanyService/CompanyService.csproj.user
/.vscode
/.vs
/.idea
